In [121]:
import pandas as pd


ds1 = pd.read_csv("AKC_Breed_Info.csv")
ds2 = pd.read_csv("dog_intelligence.csv")

ds1.head(), ds2.head()

(   index                 Breed height_low_inches height_high_inches  \
 0      0                 Akita                26                 28
 1      1    Anatolian Sheepdog                27                 29
 2      2  Bernese Mountain Dog                23                 27
 3      3            Bloodhound                24                 26
 4      4                Borzoi                26                 28

   weight_low_lbs weight_high_lbs
 0             80             120
 1            100             150
 2             85             110
 3             80             120
 4             70             100  ,
    index              Breed  Classification obey  reps_lower  reps_upper
 0      0      Border Collie  Brightest Dogs  95%           1           4
 1      1             Poodle  Brightest Dogs  95%           1           4
 2      2    German Shepherd  Brightest Dogs  95%           1           4
 3      3   Golden Retriever  Brightest Dogs  95%           1           4
 4      4  Doberman Pinscher  Brightest Dogs  95%           1           4)

## Análise e Pré-processamento

In [122]:
ds1.shape[1], ds2.shape[1]

(6, 6)

In [123]:
ds1.shape[0], ds2.shape[0]

(150, 136)

In [124]:
ds1.dtypes, ds2.dtypes

(index                  int64
 Breed                 object
 height_low_inches     object
 height_high_inches    object
 weight_low_lbs        object
 weight_high_lbs       object
 dtype: object,
 index              int64
 Breed             object
 Classification    object
 obey              object
 reps_lower         int64
 reps_upper         int64
 dtype: object)

In [125]:
ds1.describe(include='object')

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
count,150,150,150,150,150
unique,150,29,30,49,50
top,Akita,10,27,45,70
freq,1,14,16,12,11

In [126]:
 ds2.describe(include='object'), ds2.describe()

(                Breed                          Classification obey
 count             136                                     136  125
 unique            136                                       6    5
 top     Border Collie  Average Working/Obedience Intelligence  50%
 freq                1                                      42   42,
             index  reps_lower  reps_upper
 count  136.000000  136.000000  136.000000
 mean    67.500000   25.588235   41.507353
 std     39.403892   20.496240   28.195875
 min      0.000000    1.000000    4.000000
 25%     33.750000   16.000000   25.000000
 50%     67.500000   26.000000   40.000000
 75%    101.250000   26.000000   40.000000
 max    135.000000   81.000000  100.000000)

In [127]:
 ds1["height_low_inches"] = pd.to_numeric(ds1["height_low_inches"], errors="coerce")
ds1["height_low_inches"].min(), ds1["height_low_inches"].max()

(6.0, 48.0)

In [128]:
ds1["height_high_inches"] = pd.to_numeric(ds1["height_high_inches"], errors="coerce")
ds1["height_high_inches"].min(), ds1["height_high_inches"].max()

(8.0, 66.0)

In [129]:
ds1["weight_low_lbs"] = pd.to_numeric(ds1["weight_low_lbs"], errors="coerce")
ds1["weight_low_lbs"].min(), ds1["weight_low_lbs"].max()

(2.0, 175.0)

In [130]:
ds1["weight_high_lbs"] = pd.to_numeric(ds1["weight_high_lbs"], errors="coerce")
ds1["weight_high_lbs"].min(), ds1["weight_high_lbs"].max()

(5.0, 190.0)

In [131]:
ds2["obey"] = ds2["obey"].str.replace("%", "", regex=False)
ds2["obey"] = pd.to_numeric(ds2["obey"], errors="coerce")

In [132]:
ds2["obey"].min(), ds2["obey"].max()

(30.0, 95.0)

In [133]:
ds2["Classification"].unique()

array(['Brightest Dogs', 'Excellent Working Dogs',
       'Above Average Working Dogs',
       'Average Working/Obedience Intelligence',
       'Fair Working/Obedience Intelligence',
       'Lowest Degree of Working/Obedience Intelligence '], dtype=object)

In [134]:
ds2["reps_upper"].min(), ds2["reps_upper"].max()

(4, 100)

In [135]:
ds2["reps_lower"].min(), ds2["reps_lower"].max()

(1, 81)

In [136]:
ds1.isnull().sum()

index                 0
Breed                 0
height_low_inches     2
height_high_inches    2
weight_low_lbs        2
weight_high_lbs       2
dtype: int64

In [137]:
ds2.isnull().sum()

index              0
Breed              0
Classification     0
obey              11
reps_lower         0
reps_upper         0
dtype: int64

In [138]:
ds2["Classification"].value_counts()

Classification
Average Working/Obedience Intelligence              42
Above Average Working Dogs                          30
Fair Working/Obedience Intelligence                 22
Excellent Working Dogs                              21
Lowest Degree of Working/Obedience Intelligence     11
Brightest Dogs                                      10
Name: count, dtype: int64

In [139]:
ds1.head()

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,0,Akita,26.0,28.0,80.0,120.0
1,1,Anatolian Sheepdog,27.0,29.0,100.0,150.0
2,2,Bernese Mountain Dog,23.0,27.0,85.0,110.0
3,3,Bloodhound,24.0,26.0,80.0,120.0
4,4,Borzoi,26.0,28.0,70.0,100.0

In [140]:
ds2.head()

   index              Breed  Classification  obey  reps_lower  reps_upper
0      0      Border Collie  Brightest Dogs  95.0           1           4
1      1             Poodle  Brightest Dogs  95.0           1           4
2      2    German Shepherd  Brightest Dogs  95.0           1           4
3      3   Golden Retriever  Brightest Dogs  95.0           1           4
4      4  Doberman Pinscher  Brightest Dogs  95.0           1           4

In [141]:
ds1["height_avg"] = (ds1["height_low_inches"].astype(float) +
                        ds1["height_high_inches"].astype(float)) / 2

ds1["weight_avg"] = (ds1["weight_low_lbs"].astype(float) +
                        ds1["weight_high_lbs"].astype(float)) / 2

In [142]:
mapa = {
    "Brightest Dogs": 3,
    "Excellent Working Dogs": 3,
    "Above Average Working Dogs": 2,
    "Average Working/Obedience Intelligence": 2,
    "Fair Working/Obedience Intelligence": 1,
    "Lowest Degree of Working/Obedience Intelligence": 1
}

ds2["Classification_level"] = ds2["Classification"].map(mapa)

ds2.head()

,index,Breed,Classification,obey,reps_lower,reps_upper,Classification_level
0,0,Border Collie,Brightest Dogs,95.0,1,4,3.0
1,1,Poodle,Brightest Dogs,95.0,1,4,3.0
2,2,German Shepherd,Brightest Dogs,95.0,1,4,3.0
3,3,Golden Retriever,Brightest Dogs,95.0,1,4,3.0
4,4,Doberman Pinscher,Brightest Dogs,95.0,1,4,3.0

In [143]:
ds = pd.merge(ds1, ds2, on='Breed', how='inner')
ds.head()

,index_x,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,height_avg,weight_avg,index_y,Classification,obey,reps_lower,reps_upper,Classification_level
0,0,Akita,26.0,28.0,80.0,120.0,27.0,100.0,102,Average Working/Obedience Intelligence,50.0,26,40,2.0
1,2,Bernese Mountain Dog,23.0,27.0,85.0,110.0,25.0,97.5,26,Excellent Working Dogs,85.0,5,15,3.0
2,3,Bloodhound,24.0,26.0,80.0,120.0,25.0,100.0,130,Lowest Degree of Working/Obedience Intelligence,NaN,81,100,NaN
3,4,Borzoi,26.0,28.0,70.0,100.0,27.0,85.0,131,Lowest Degree of Working/Obedience Intelligence,NaN,81,100,NaN
4,5,Bullmastiff,25.0,27.0,100.0,130.0,26.0,115.0,124,Fair Working/Obedience Intelligence,30.0,41,80,1.0

## Processamento

### Algoritmo: Árvore de decisão

In [144]:
# resolver problemas ocorridos ao tentar treinar o set
ds_model = ds_model.dropna(subset=['height_avg', 'weight_avg', 'obey'])

In [145]:
X = ds_model[['height_avg', 'weight_avg']] 
y = ds_model['obey'] #target

X.head(), y.head()

(   height_avg  weight_avg
 0        27.0       100.0
 1        25.0        97.5
 4        26.0       115.0
 5        32.0       140.0
 6        29.5       107.5,
 0    50.0
 1    85.0
 4    30.0
 5    50.0
 6    30.0
 Name: obey, dtype: float64)

In [146]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

In [178]:
from sklearn.tree import DecisionTreeClassifier
import time

dt = DecisionTreeClassifier(random_state=42)

start = time.time()
dt.fit(X_train, y_train)
end = time.time()
tempo_treino = end - start

t2 = time.time()
y_pred_dt = dt.predict(X_test)
t3 = time.time()
tempo_predicao_dt = t3 - t2

print(f"Tempo de treino: {tempo_treino:.4f} segundos")
print(f"Tempo de predição: {tempo_predicao_dt:.6f} segundos")

Tempo de treino: 0.0056 segundos
Tempo de predição: 0.004022 segundos

In [148]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

y_pred = dt.predict(X_test)

acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred, average='weighted')
rec = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

print("Acurácia:", acc)
print("Precisão:", prec)
print("Recall:", rec)
print("F1-Score:", f1)

print("\nRelatório por classe:\n", classification_report(y_test, y_pred))

Acurácia: 0.2413793103448276
Precisão: 0.24033437826541276
Recall: 0.2413793103448276
F1-Score: 0.23973727422003288

Relatório por classe:
               precision    recall  f1-score   support

        30.0       0.20      0.20      0.20         5
        50.0       0.36      0.40      0.38        10
        70.0       0.17      0.12      0.14         8
        85.0       0.25      0.25      0.25         4
        95.0       0.00      0.00      0.00         2

    accuracy                           0.24        29
   macro avg       0.20      0.20      0.19        29
weighted avg       0.24      0.24      0.24        29

### Variação do pré-processamento
Transformação da target em uma coluna com 3 categorias para melhorar acertividade

In [151]:
ds_model_2 = ds_model.copy()

def categorizar_obediencia(valor):
    if valor <= 50:
        return "baixa"
    elif valor <= 80:
        return "media"
    else:
        return "alta"

ds_model_2.loc[:, 'obediencia_cat'] = ds_model_2['obey'].apply(categorizar_obediencia)

In [155]:
X = ds_model_2[['height_avg', 'weight_avg']]
y = ds_model_2['obediencia_cat'] #novo target

In [158]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

In [179]:
from sklearn.tree import DecisionTreeClassifier
import time

dt = DecisionTreeClassifier(random_state=42)

start = time.time()
dt.fit(X_train, y_train)
end = time.time()

t2 = time.time()
y_pred_dt = dt.predict(X_test)
t3 = time.time()
tempo_predicao_dt = t3 - t2

tempo_treino = end - start
print(f"Tempo de treino: {tempo_treino:.4f} segundos")
print(f"Tempo de predição: {tempo_predicao_dt:.6f} segundos")

Tempo de treino: 0.0052 segundos
Tempo de predição: 0.002014 segundos

In [160]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

y_pred = dt.predict(X_test)

print("Acurácia:", accuracy_score(y_test, y_pred))
print("Precisão:", precision_score(y_test, y_pred, average='weighted'))
print("Recall:", recall_score(y_test, y_pred, average='weighted'))
print("F1-Score:", f1_score(y_test, y_pred, average='weighted'))

print("\nRelatório por classe:")
print(classification_report(y_test, y_pred))

Acurácia: 0.41379310344827586
Precisão: 0.31921182266009857
Recall: 0.41379310344827586
F1-Score: 0.3563218390804597

Relatório por classe:
              precision    recall  f1-score   support

        alta       0.00      0.00      0.00         7
       baixa       0.52      0.73      0.61        15
       media       0.20      0.14      0.17         7

    accuracy                           0.41        29
   macro avg       0.24      0.29      0.26        29
weighted avg       0.32      0.41      0.36        29

### Algoritmo: KNN

In [ ]:
import time
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

In [ ]:
X = ds_model_2[['height_avg', 'weight_avg']].copy()
y = ds_model_2['obediencia_cat'].copy()

In [163]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

In [164]:
pipe_knn = Pipeline([
    ('scaler', StandardScaler()),
    ('knn', KNeighborsClassifier(n_neighbors=5)) 
])

In [165]:
t0 = time.time()
pipe_knn.fit(X_train, y_train)
t1 = time.time()
tempo_treino = t1 - t0

In [166]:
t2 = time.time()
y_pred = pipe_knn.predict(X_test)
t3 = time.time()
tempo_predicao = t3 - t2

In [177]:
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred, average='weighted', zero_division=0)
rec = recall_score(y_test, y_pred, average='weighted', zero_division=0)
f1 = f1_score(y_test, y_pred, average='weighted', zero_division=0)

print(f"Tempo de treino: {tempo_treino:.4f} s")
print(f"Tempo de predição: {tempo_predicao:.4f} s")
print("Acurácia:", acc)
print("Precisão:", prec)
print("Recall:", rec)
print("F1-Score:", f1)
print("\nRelatório por classe:\n")
print(classification_report(y_test, y_pred, zero_division=0))

Tempo de treino: 0.3446 s
Tempo de predição: 0.0367 s
Acurácia: 0.41379310344827586
Precisão: 0.3077211394302849
Recall: 0.41379310344827586
F1-Score: 0.34334268272562285

Relatório por classe:

              precision    recall  f1-score   support

        alta       0.00      0.00      0.00         7
       baixa       0.48      0.73      0.58        15
       media       0.25      0.14      0.18         7

    accuracy                           0.41        29
   macro avg       0.24      0.29      0.25        29
weighted avg       0.31      0.41      0.34        29

### Algoritmo: Random Forest

In [180]:
import time
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

In [181]:
X = ds_model_2[['height_avg', 'weight_avg']].copy()
y = ds_model_2['obediencia_cat'].copy()

In [182]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

In [183]:
rf = RandomForestClassifier(
    n_estimators=200,
    random_state=42,
    max_depth=None
)

In [184]:
t0 = time.time()
rf.fit(X_train, y_train)
t1 = time.time()
tempo_treino = t1 - t0

In [185]:
t2 = time.time()
y_pred = rf.predict(X_test)
t3 = time.time()
tempo_predicao = t3 - t2

In [186]:
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred, average='weighted', zero_division=0)
rec = recall_score(y_test, y_pred, average='weighted', zero_division=0)
f1 = f1_score(y_test, y_pred, average='weighted', zero_division=0)

print(f"Tempo de treino: {tempo_treino:.4f} s")
print(f"Tempo de predição: {tempo_predicao:.4f} s")
print("Acurácia:", acc)
print("Precisão:", prec)
print("Recall:", rec)
print("F1-Score:", f1)

print("\nRelatório por classe:\n")
print(classification_report(y_test, y_pred, zero_division=0))

Tempo de treino: 0.3535 s
Tempo de predição: 0.0412 s
Acurácia: 0.41379310344827586
Precisão: 0.3077211394302849
Recall: 0.41379310344827586
F1-Score: 0.34334268272562285

Relatório por classe:

              precision    recall  f1-score   support

        alta       0.00      0.00      0.00         7
       baixa       0.48      0.73      0.58        15
       media       0.25      0.14      0.18         7

    accuracy                           0.41        29
   macro avg       0.24      0.29      0.25        29
weighted avg       0.31      0.41      0.34        29